body{
    background-color: rgba(252,251,255,255);
}


.heading_contact{
font-size: 65px;
margin-top: 155px;

}
.first_1 {
    height: 400px;
    display: flex;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    border: none;
    border-bottom: 1px solid black;
}

.btn {
font-size: large;
    border-radius: 28px;
    margin-top: 50px;
    width: 145px;
    height: 40px;
}

.child_1 {
    padding: 55px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.child_2 {
    padding: 20px;
    /* border: 2px solid black; */
    margin-left: 8px;
}
.hoodie>img{
     
    margin-top: 45px;
    margin-left: -135px;
    width: 450px;
    height: 425px;
}
.hoodie{
    display: flex;
    flex-wrap: wrap;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.san{
    font-size: smaller;
}
.first{
    background-color: none
}
.icon{
    margin-top: 30px;
    font-size: 30px;
}
